language: python
python:
          - "3.6"
install:
        - pip install -r requirements.txt
        - pip install codecov
script:
        - coverage run -m unittest discover
after_success:
        - codecov
