language: python
python:
  - 3.4
  - 3.5
  - 3.6
  - 3.7
  - 3.8
  - 3.9
  - 3.10
install:
  - pip install -r requirements.txt
  - pip install codecov
  - if [[ $TRAVIS_PYTHON_VERSION == 3.9 ]]; then pip install black; fi
script:
  - if [[ $TRAVIS_PYTHON_VERSION == 3.9 ]]; then black --check .; fi
  - coverage run -m unittest discover
after_success:
  - codecov

