language: python
python:
          - "3.4"
          - "3.5"
          - "3.6"
          - "3.7"
          - "3.8"
          - "3.9"
install:
        - pip install -r requirements.txt
        - pip install codecov
script:
        - coverage run -m unittest discover
after_success:
        - codecov

