name: Mazelib code coverage

permissions:
  contents: read

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:

    runs-on: ubuntu-24.04

    steps:
      - uses: actions/checkout@v2
      - name: Setup Python
        uses: actions/setup-python@v2
        with:
          python-version: "3.13"
      - name: Update package index
        run: sudo apt-get update
      - name: Install PIP Packages
        run: |
          pip install -e .
          pip install pytest
          pip install codecov
      - name: Run Coverage Tests
        run: |
          coverage run -m unittest discover
          codecov
        env:
          PYTHONHASHSEED: 0
